{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div class="row">
          <div class="col text-center">
            <form action="/train" method="POST">
                <button type="submit" class="btn btn-primary">Train Model</button>
            </form>
          </div>
        </div>
    </div>
    <div class="container"></div>
        <div class="row">
          <div class="col text-center">
            {{message}}    
          </div>
        </div>
    </div>
{% endblock %}